@import "../../sass/var";
.content{
  .button-purple{
    background:#930784;
    color:white;
    margin-top:10px;
  }
  .button-white{
    background:#fff;
  }

  &-title{
    border:1px solid #d9d9d9;
    &-big{
      font-size:16px;
    }
    &-icon-big{
      font-size:16px;
      color:#930784;
    }
    &-icon-small{
      font-size:16px;
      color:#930784;
      margin:1px 4px;
      cursor: pointer;
    }
    &-secondary{
    margin-bottom:16px;
    border:1px solid #d9d9d9;
    }
  }
  .ant-card-head-title{
    font-size: 14px;
    color: $theme_color;
  }
  .right-content{
    font-size:14px !important;
    margin-bottom:10px;
    &-table{
     line-height:30px;
      color:#930784;
      margin:20px auto;
      width:70%;
    }
  }
  .col-span{
    margin-right:5px;
  }
  .selectOption{
    float:right;
    width:90px;
  }
  .pagination{
    float:left;

  }
  .clear {
    overflow: auto;
    zoom: 1;
  }
  .pagination-tip{
    color:#930784;
    margin-left:15px;
    line-height:27px;
  }
  .blankTip{
    text-align:center;
    font-size:14px;
    padding:40px 0;
  }
  .icon-tip{
    color:#930784;
    margin-right:4px;
  }

}