@charset "utf-8";
@import "../../sass/var";
.modal-dialog{
  padding:20px 0;
}
.dialog-footer{
  text-align: center;
  &-button{
    background:#930784;
    min-width:75px;
    color:white;
  }
  .cancel{
    margin-left:25px;
  }

}
