@import "../../sass/var";
.project-status-link{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
.project-status-link:hover{
  color: $theme_color;
}
.project-status{
  text-align: left;
  display: inline-block;
  width: 60px;
  margin-left: 5px;
  color: $primary-half;
}
.pagination{
  float: right;
}
.task-table{
  .ant-table-pagination{
    display: none!important;
  }
  .ant-table-column-sorter{
    margin-left: 5px;

    .anticon{
      font-size: 14px!important;
    }
  }
  margin-bottom: 16px;
  table{
    th{
      background:#ddd;
    }
    th,td{
      padding: 10px 8px!important;
    }
    tr:nth-child(even){
      background: #efefef;
    }
  }

}

.content-title-big{
  color: $theme_color;
}
.content-title-icon-big{
  margin: 0 4px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header > .collapse-panel-title > .title{
  font-size: 14px;
  color: $theme_color;
}
.ant-card{
  //border:2px solid rgba(145,6,133,0.2);
  >.ant-card-head{
    border-bottom:1px solid $border-color;
  }
  >.ant-card-extra{
    >.icon-container{
      .header-icon{
        font-size: 16px;
        margin: 4px;
        color:  $theme_color;
      }
    }
  }
  >.ant-card-body {
    >div{
      > .pagination-box {
        padding-top: 25px;
        display: flex;
        justify-content: center;
        > .ant-pagination {
          > .ant-pagination-item-50 {
            display: none;
          }
          > .ant-pagination-jump-next {
            display: none;
          }
        }
      }
    }


    > .filter {
      font-size: 14px!important;
      padding: 0 0 25px 6px;
      > .status,> .project {
        padding-right: 15px;
        font-weight:700;
      }
      > .ant-select {
        width: 200px;
        padding-right: 15px;
      }
    }
    > div {
      > .ant-collapse {
        > .ant-collapse-item {
          > .ant-collapse-content {
            > .ant-collapse-content-box {
              > div {

                > .ant-row {

                  > .table-row {
                    padding-top: 20px;

                  }
                  > .update {
                    padding-top: 15px;
                  }
                  > .ant-col-16 {
                    padding-top: 10px;
                    > .brief-content {
                      > span {
                        padding-left: 35px;
                      }
                    }
                    > .ant-row {
                      > .brief {
                        padding-left: 20px;
                      }
                    }
                    background: rgba(220, 220, 220, 0.4);
                    height: 110px;
                    font-size: 14px;
                  }
                  > .ant-col-8 {
                    > div {
                      padding-left: 20px;
                      //padding-top: 20px;

                      > .ant-row {
                        line-height: 1;
                        > div {
                          > text {
                            padding-left: 10px;
                          }
                          > .anticon-edit {
                            float: right;
                            font-size: 14px;
                            color: $theme_color;
                            margin: 4px
                          }

                        }

                        > .second-right {
                          padding-top: 15px;

                        }
                        >.right-info{
                          font-size: 14px!important;
                          color: $theme_color;
                          text.members{
                            background: $border-color;
                            display: inline-block;
                            text-align: center;
                            padding: 5px 5px;
                            margin-left: 10px;
                          }
                          .anticon-edit{
                            padding: 5px 5px;
                          }
                          >.info-label{
                            display: inline-block;
                            color: #333;
                            font-weight:800;
                          }
                        }
                        > .third-right {
                          padding-top: 15px;
                          padding-bottom: 15px;
                          > text {
                            > span {
                              padding-left: 2px;
                              padding-right: 5px;
                            }
                          }
                        }
                      }
                    }
                  }

                }
              }
            }
          }
          > .ant-collapse-header {
            > .collapse-panel-title {
              > .title {
                padding-left: 14px;
              }
              > .rightExtra {
                > .edit-div {
                  text-align: center;
                  > .edit-icon {
                    padding-right: 15px;
                    font-size: 14px;

                    color: $theme_color;
                    margin: 4px
                  }
                  > span {
                    padding-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.ant-modal-content{
  >.ant-modal-header{
    //border-bottom: 1px solid rgba(1,1,1,0);
  }
  >.ant-modal-footer{
    display: flex;
    justify-content: center;
    border-top:1px solid rgba(1,1,1,0);
    padding-bottom:55px;
    >.ant-btn-primary{
      background: $theme_color;
      border:1px solid rgba(1,1,1,0)
    }
  }
  >.ant-modal-body{
    border-bottom: 1px solid rgba(1,1,1,0);
    >div{
      >.report-input1{
        padding-left: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        >input{
          width:60%;
          margin-left:15px
        }
      }
      >.report-input2{
        padding-left: 33px;
        padding-top: 6px;
        padding-bottom: 6px;
        >.ant-calendar-picker{
          >span{
            >.ant-input{
              width:110px;

              margin-right: 7px;
              margin-left:10px;
            }
          }
        }
        >.ant-select{
          margin-left:15px;
          margin-right:10px;
        }
      }
      .select-style{
        width:60%;
        margin-left:15px
      }
    }
    >.addContent{
      >.addTeamMember{
        margin-left: 20px;
        >.ant-select{
          width:60%;
          margin-left:16px;
        }
      }
      >.addDuration{
        margin-left:20px;
        padding-left: 29px;
        padding-bottom: 20px;
        >.ant-input{
          width: 50px;
          margin-right: 10px;
        }
      }
      display: flex;
      flex-direction: column;
      >.add-input{
        padding-left: 50px;
        >.ant-select{
          margin-left:15px;
        }
      }
      .table-title{
        display:inline-block;
        width:80px;
        text-align: right;
      }
      >div{
        padding-top: 5px;
        padding-bottom: 5px;

        >input{
          margin-left:16px;
        }

        >.ant-input{
          width: 60%;
        }
        >.big-input{

          width:67.2%;
          height:40%;
        }
      }
    }
  }
}
.collapseStyle{
  border:none;
  position:relative;
};
.collapseStyle:before{
  content: "";
  position: absolute;
  top: -50%;
  bottom: -50%;
  left: -50%;
  right: -50%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border:1px solid #dcdcdc;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.ant-pagination-item-active{
  background-color: $theme_color;
  border:1px solid rgba(1,1,1,0)
}
.error-tip{
  font-size:16px;
  color:#f04134;
  margin-left:10px;
}
.dialog-footer{
  text-align: center;
  padding:20px 0;
  &-button{
    background:#930784;
    min-width:75px;
    color:white;
  }
  .cancel{
    margin-left:25px;
  }
}